

<div class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#home">My Paw Agenda</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu1">My Pets</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="home">
      <h1 class="title">My Paw Agenda</h1>
      <div class="d-flex row">
        <% if @bookings.present? %>
          <% @bookings.each do |booking| %>
            <div class="col-4">
              <div class="card-product position-relative">
                <img src="<%= booking.pet.picture_url %>" alt="Petpic" width="300px">
                <div class="card-product-infos ">
                  <h2 class= "pet-name"><%= booking.pet.pet_name %></h2>
                  <p><%= booking.pet.pet_details %></p>
                  <p><strong>From:</strong> <%= booking.opening_date.strftime("%d-%m-%Y") %></p>
                  <p><strong>Till:</strong> <%= booking.closing_date.strftime("%d-%m-%Y") %></p>
                  <p><%= link_to "Cancel", booking_path(booking),
                    data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'},
                    class: "btn btn-secondary position-absolute bottom-0 end-0 me-2 mb-2" %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="col-6 alert alert-warning position-static">
            <%= link_to "Your booking is empty, go ahead and choose your favorite pet!", root_path , class: "alert-link" %>
          </div>
        <%end%>
      </div>
    </div>
    <div class="tab-pane" id="menu1">
      <h1 class="title">My Pets</h1>
      <div class="d-flex row">
        <% if @pets.present? %>
        <% @pets.each do |pet| %>
          <div class="col-4">
            <%# <%= link_to pet_path(pet), style: "text-decoration: none; color: inherit;" do %>
            <div class="card-product">
              <img src="<%= pet.picture_url %>" alt="Petpic" width="300px">
              <div class="card-product-infos">
                <h2 class= "pet-name"><%= pet.pet_name %></h2>
                <p><%= pet.pet_details %></p>
              </div>
            </div>
          </div>
        <% end %>
        <% else %>
          <div class="col-6 alert alert-warning position-static">
            <%= link_to "You haven't added your pet yet, go ahead and add one!", new_pet_path(@pet) , class: "alert-link" %>
              <a href="#" class="alert-link"></a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
